.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box{
  display: flex;
  flex-wrap: wrap;  
}

.tab{
  display: flex;
  width: 50%;
}

.card{
  margin: 1%;
}

body{
  background-color: #616161;
}

#searchForm{
  margin-top: 5%;
}

#username{
  color: #26a69a;
}

.infoTab {
  margin-right: 2%;
}

.brand-logo{
  margin-left: 2%;
}

#formImg{
  width: 10%;
  margin: 2%;
}

#table{
  color: #e0e0e0;
}

.card-img-top{
  margin-top: 3%;
  width: 50%;
}

#title{
  margin: 3%;
  color: #e0e0e0;
}